.main {
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 6rem;
  min-height: 100vh;
}
.form {
  min-width: clamp(200px, 50%, 500px);
  display: grid;
  gap: 1rem;
}

.field {
  display: grid;
}